<div class="back-to-home rounded d-none d-sm-block">
  <a routerLink="/index" class="btn btn-icon btn-primary">
    <i-feather name="home" class="icons"></i-feather>
  </a>
</div>

<!-- Hero Start -->
<section class="d-flex task-management-home"
         style="background: url('assets/images/bg_2.png') center ; height: 100vh; width:auto; background-size:cover;"  id="home">
  <div class="container" style="margin-top:10%" id="first">
    <div class="row justify-content-center ">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2 ">
          <h4 class="title mb-4">Uzupełnij o sobie podstawowe informacje</h4>
          <p class="text-muted para-desc mb-0 mx-auto">Informacje te będą wyświetlane po wpisaniu na stronie twojego kodu w sekcji "Znajdź pacjenta"</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row justify-content-center w-100">
      <div class="col-lg-3 col-md-5 mt-4 pt-2">
        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-1 h-100" (click)="contact()" style="display:block;" id="first_contact">
          <span class="h1 icon2 text-primary">
            <i class="uil uil-user"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Osoby kontaktowe</h5>
            <p class="para text-muted mb-0">It is a long established fact that a reader.</p>
          </div>
          <span class="big-icon text-center" >
            <i class="uil uil-user"></i>
          </span>
        </div>
        <div class="card features fea-primary rounded p-4 bg-success text-center position-relative overflow-hidden border-0 h-100" style="display:none;" id="complete_contact">
          <span class="" >
            <i class="uil uil-check" style="color: black; font-size:100px;"></i>
          </span>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-3 col-md-5 mt-4 pt-2">
        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-1 h-100" (click)="alergy()" style="display:block;" id="alergy">
          <span class="h1 icon2 text-primary">
            <i class="uil uil-medical-square"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Alergie/uczulenia</h5>
            <p class="para text-muted mb-0">It is a long established fact that a reader.</p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-medical-square"></i>
          </span>
        </div>
        <div class="card features fea-primary rounded p-4 bg-success text-center position-relative overflow-hidden border-0 h-100" style="display:none;" id="complete_alergy">
          <span class="" >
            <i class="uil uil-check" style="color: black; font-size:100px;"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-5 mt-4 pt-2">
        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-1 h-100" (click)="tabs()" style="display:block;" id="tabs">
          <span class="h1 icon2 text-primary">
            <i class="uil uil-capsule"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Przyjmowane leki</h5>
            <p class="para text-muted mb-0">It is a long established fact that a reader.</p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-capsule"></i>
          </span>
        </div>
        <div class="card features fea-primary rounded p-4 bg-success text-center position-relative overflow-hidden border-0 h-100" style="display:none;" id="complete_tabs">
          <span class="" >
            <i class="uil uil-check" style="color: black; font-size:100px;"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-3 col-md-5 mt-4 pt-2">
        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-1 h-100" (click)="illness()" style="display:block;" id="illness">
          <span class="h1 icon2 text-primary">
            <i class="uil uil-heartbeat"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Choroby przewlekłe</h5>
            <p class="para text-muted mb-0">It is a long established fact that a reader.</p>
          </div>
          <span class="big-icon text-center">
            <i class="uil uil-heartbeat"></i>
          </span>
        </div>
        <div class="card features fea-primary rounded p-4 bg-success text-center position-relative overflow-hidden border-0 h-100" style="display:none;" id="complete_illness">
          <span class="" >
            <i class="uil uil-check" style="color: black; font-size:100px;"></i>
          </span>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-12 text-center col-md-4 mt-4 pt-2">
        <a href="javascript:void(0)" class="btn btn-primary">Gotowe
          <i-feather name="arrow-right" class="fea icon-sm"></i-feather>
        </a>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <div id="hidden_1" class="container" style="margin-top:10%; display:none;">
    <div class="row justify-content-center align-items-center col-1 w-100">
      <div class="col-5">
        <div class="bg-white shadow rounded border-0 px-3 py-2">
          <div class="section-title">
            <h4 class="title text-center">Osoby Kontaktowe</h4>
            <form class="mt-4">
              <div class="row">
                <p class="text-muted text-center para-desc mb-2 mx-auto">Wybierz typ osoby, której podasz numer</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                  <label class="btn btn-light active">
                    <input type="radio" value="Rodzina" name="options" id="family" autocomplete="off" checked> Rodzina
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" value="Znajomy" name="options" id="friend" autocomplete="off"> Znajomy
                  </label>
                </div>
                <!--end col-->

                <div class="col-lg-12">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Telefon kontaktowy<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="phone" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="phone" id="phone" class="form-control ps-5 pt-2" placeholder="Telefon" required="" value="">
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col mb-0 text-center w-100">
                  <p class="text-muted para-desc mb-0">Możesz dodać maksymalnie 3 osoby</p>
                  <div class="col-5 justify-content-center w-100">
                    <button class="btn btn-success" (click)="fill_table()">Dodaj</button>
                  </div>
                </div>
                <!--edn col-->
                <div class="p-4">
                  <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                      <thead>
                        <tr>
                          <th scope="col" class="border-bottom">#</th>
                          <th scope="col" class="border-bottom">Kto</th>
                          <th scope="col" class="border-bottom">Numer telefonu</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th id="1" scope="row"></th>
                        <td id="2"></td>
                        <td id="3"></td>
                      </tr>
                      <tr>
                        <th id="4" scope="row"></th>
                        <td id="5"></td>
                        <td id="6"></td>
                      </tr>
                      <tr>
                        <th id="7" scope="row"></th>
                        <td id="8"></td>
                        <td id="9"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table-->

                <div class="col mb-0">
                  <div class="d-grid">
                    <button class="btn btn-secondary" (click)="back_to_start()">Pomiń</button>
                  </div>
                </div>
                <div class="col mb-0 w-100">
                  <div class="d-grid">
                    <button class="btn btn-primary" (click)="back_to_start_complete()">Gotowe</button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
          </div>
        </div>
        <!---->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end containter hidden_1-->
  <div id="hidden_2" class="container" style="margin-top:10%; display:none;">
    <div class="row justify-content-center align-items-center col-1 w-100">
      <div class="col-5">
        <div class="bg-white shadow rounded border-0 px-3 py-2">
          <div class="section-title">
            <h4 class="title text-center">Alergie / Uczulenia</h4>
            <form class="mt-4">
              <div class="row">
                <p class="text-muted text-center para-desc mb-2 mx-auto">Podaj swoje uczulenia oraz alergie</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                  <label class="btn btn-light active">
                    <input type="radio" value="Alergia" name="options" id="alergy_input" autocomplete="off" checked> Alergia
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" value="Uczulenie" name="options" id="alergy_input_2" autocomplete="off"> Uczulenie
                  </label>
                </div>
                <!--end col-->

                <div class="col-lg-12">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Na co?<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="phone" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="for" id="for" class="form-control ps-5 pt-2" placeholder="Na co?" required="" value="">
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col mb-0 text-center w-100">
                  <p class="text-muted para-desc mb-0">Możesz dodać maksymalnie 3</p>
                  <div class="col-5 justify-content-center w-100">
                    <button class="btn btn-success" (click)="fill_table()">Dodaj</button>
                  </div>
                </div>
                <!--edn col-->
                <div class="p-4">
                  <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                      <thead>
                      <tr>
                        <th scope="col" class="border-bottom">#</th>
                        <th scope="col" class="border-bottom">Kto</th>
                        <th scope="col" class="border-bottom">Numer telefonu</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th id="1" scope="row"></th>
                        <td id="2"></td>
                        <td id="3"></td>
                      </tr>
                      <tr>
                        <th id="4" scope="row" type="number"></th>
                        <td id="5"></td>
                        <td id="6"></td>
                      </tr>
                      <tr>
                        <th id="7" scope="row"></th>
                        <td id="8"></td>
                        <td id="9"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table-->

                <div class="col mb-0">
                  <div class="d-grid">
                    <button class="btn btn-secondary" (click)="back_to_start()">Pomiń</button>
                  </div>
                </div>
                <div class="col mb-0 w-100">
                  <div class="d-grid">
                    <button class="btn btn-primary" (click)="back_to_start_complete_2()">Gotowe</button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
          </div>
        </div>
        <!---->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container hidden_2-->
  <div id="hidden_3" class="container" style="margin-top:10%; display:none;">
    <div class="row justify-content-center align-items-center col-1 w-100">
      <div class="col-5">
        <div class="bg-white shadow rounded border-0 px-3 py-2">
          <div class="section-title">
            <h4 class="title text-center">Osoby Kontaktowe</h4>
            <form class="mt-4">
              <div class="row">
                <p class="text-muted text-center para-desc mb-2 mx-auto">Wybierz typ osoby, której podasz numer</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                  <label class="btn btn-light active">
                    <input type="radio" value="Rodzina" name="options" id="family" autocomplete="off" checked> Rodzina
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" value="Znajomy" name="options" id="friend" autocomplete="off"> Znajomy
                  </label>
                </div>
                <!--end col-->

                <div class="col-lg-12">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Telefon kontaktowy<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="phone" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="phone" id="phone" class="form-control ps-5 pt-2" placeholder="Telefon" required="" value="">
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col mb-0 text-center w-100">
                  <p class="text-muted para-desc mb-0">Możesz dodać maksymalnie 3 osoby</p>
                  <div class="col-5 justify-content-center w-100">
                    <button class="btn btn-success" (click)="fill_table()">Dodaj</button>
                  </div>
                </div>
                <!--edn col-->
                <div class="p-4">
                  <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                      <thead>
                      <tr>
                        <th scope="col" class="border-bottom">#</th>
                        <th scope="col" class="border-bottom">Kto</th>
                        <th scope="col" class="border-bottom">Numer telefonu</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th id="1" scope="row"></th>
                        <td id="2"></td>
                        <td id="3"></td>
                      </tr>
                      <tr>
                        <th id="4" scope="row"></th>
                        <td id="5"></td>
                        <td id="6"></td>
                      </tr>
                      <tr>
                        <th id="7" scope="row"></th>
                        <td id="8"></td>
                        <td id="9"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table-->

                <div class="col mb-0">
                  <div class="d-grid">
                    <button class="btn btn-secondary" (click)="back_to_start()">Pomiń</button>
                  </div>
                </div>
                <div class="col mb-0 w-100">
                  <div class="d-grid">
                    <button class="btn btn-primary" (click)="back_to_start_complete_3()">Gotowe</button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
          </div>
        </div>
        <!---->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end containter hidden_4-->
  <div id="hidden_4" class="container" style="margin-top:10%; display:none;">
    <div class="row justify-content-center align-items-center col-1 w-100">
      <div class="col-5">
        <div class="bg-white shadow rounded border-0 px-3 py-2">
          <div class="section-title">
            <h4 class="title text-center">Osoby Kontaktowe</h4>
            <form class="mt-4">
              <div class="row">
                <p class="text-muted text-center para-desc mb-2 mx-auto">Wybierz typ osoby, której podasz numer</p>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" >
                  <label class="btn btn-light active">
                    <input type="radio" value="Rodzina" name="options" id="family" autocomplete="off" checked> Rodzina
                  </label>
                  <label class="btn btn-light">
                    <input type="radio" value="Znajomy" name="options" id="friend" autocomplete="off"> Znajomy
                  </label>
                </div>
                <!--end col-->

                <div class="col-lg-12">
                  <div class="mb-3 mt-4">
                    <label class="form-label">Telefon kontaktowy<span class="text-danger">*</span></label>
                    <div class="form-icon position-relative">
                      <i-feather name="phone" class="fea icon-sm icons d-flex"></i-feather>
                      <input type="phone" id="phone" class="form-control ps-5 pt-2" placeholder="Telefon" required="" value="">
                    </div>
                  </div>
                </div>
                <!--end col-->

                <div class="col mb-0 text-center w-100">
                  <p class="text-muted para-desc mb-0">Możesz dodać maksymalnie 3 osoby</p>
                  <div class="col-5 justify-content-center w-100">
                    <button class="btn btn-success" (click)="fill_table()">Dodaj</button>
                  </div>
                </div>
                <!--edn col-->
                <div class="p-4">
                  <div class="table-responsive bg-white shadow rounded">
                    <table class="table mb-0 table-center">
                      <thead>
                      <tr>
                        <th scope="col" class="border-bottom">#</th>
                        <th scope="col" class="border-bottom">Kto</th>
                        <th scope="col" class="border-bottom">Numer telefonu</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th id="1" scope="row"></th>
                        <td id="2"></td>
                        <td id="3"></td>
                      </tr>
                      <tr>
                        <th id="4" scope="row"></th>
                        <td id="5"></td>
                        <td id="6"></td>
                      </tr>
                      <tr>
                        <th id="7" scope="row"></th>
                        <td id="8"></td>
                        <td id="9"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--end table-->

                <div class="col mb-0">
                  <div class="d-grid">
                    <button class="btn btn-secondary" (click)="back_to_start()">Pomiń</button>
                  </div>
                </div>
                <div class="col mb-0 w-100">
                  <div class="d-grid">
                    <button class="btn btn-primary" (click)="back_to_start_complete_4()">Gotowe</button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
          </div>
        </div>
        <!---->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end containter hidden_4-->
</section>
<!--end section-->
<!-- Hero End -->